.DS_Store
.env*
*.log

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Node / Next
node_modules/
.next/
out/
build/

# Misc
*.pem
*.tsbuildinfo
scout-ecb6a-firebase-adminsdk-fbsvc-310c557c7e.json
